!PAINTWorks Installation Configuration
!---Identify zones if needed.  You can delete the line for single zone installations.
Zones,UBS1,UBS2,ISS1,ISS2,LASD1,LASD2,Antichip,Cosmetic,Hem
!---PWInstall copies the whole paint folder identified in the next two items.
!---It'll filter out database subfolders for the zone if zones are defined.
PaintFolderSource,.\Paint\
PaintFolderDest,C:\Paint\
!---Identify robot names to build folder structure.
!---Normal setup 
!---Robots,RC_1,RC_2,RC_3,RC_4
!---Zone specific:
!---#UBS1#Robots,RC_1,RC_3,RC_4
!---Several zones:
!---#ISS1,ISS2,LASD1,LASD2#Robots,RC_1,RC_2,RC_3,RC_4
Robots,RC_1,RC_2,RC_3,RC_4
#UBS1#Robots,RC_1,RC_3,RC_4
#UBS2#Robots,RC_1,RC_2,RC_4
#ISS1,ISS2,LASD1,LASD2#Robots,RC_1,RC_2,RC_3,RC_4
!---This'll create folders under the paint folder
MakeFolders,DMON Data,DMON Data Archive,Help,Profile,PW Robot Backups,Database,VbApps
!---This can be used to create an autobackup folder so autobackups can work with a default setup
AutoBackupFolder,\AutoBackups\
!---For dual hard drive systems, you can make a seperate copy of the paint folder
!DuplicatePaintFolder,D:\Paint\
!---Like "MakeFolders", but "RobotBackupFolders" also makes the robot subfolders
RobotBackupFolders,Master Backups,Robot Image Backups,Temp Backups
!---Extract zips to fill up the paint folder
!---Can be zone-specific:
!---#UBS1#extract,.\Paint\UBS1_Database.zip
!---or for all zones:
!---extract,.\Paint\UBS1_Help.zip
#UBS1#extract,.\Paint\UBS1_Database.zip
#UBS2#extract,.\Paint\UBS2_Database.zip
#ISS1#extract,.\Paint\ISS1_Database.zip
#ISS2#extract,.\Paint\ISS2_Database.zip
#LASD1#extract,.\Paint\LASD1_Database.zip
#LASD2#extract,.\Paint\LASD2_Database.zip
#Antichip#extract,.\Paint\Antichip_Database.zip
#Cosmetic#extract,.\Paint\Cosmetic_Database.zip
#Hem#extract,.\Paint\Hem_Database.zip
extract,.\Paint\UBS1_FanucManuals.zip
extract,.\Paint\UBS1_Help.zip
extract,.\Paint\UBS1_Paint_Common.zip
extract,.\Paint\UBS1_Source.zip
!---Copy host file and some shortcuts.  PWInstall will expand environment variables
copyfile,.\PW Support\Hosts\hosts,%windir%\system32\drivers\etc\Hosts
copyfile,.\Paint\Launch PAINTWorks.lnk,%USERPROFILE%\Desktop\Launch PAINTWorks.lnk
copyfile,.\Paint\Launch PAINTWorks.lnk,%USERPROFILE%\AppData\Roaming\Microsoft\Windows\Start Menu\Launch PAINTWorks.lnk
copyfile,.\Paint\SQL Server Management Studio Express.lnk,%USERPROFILE%\Desktop\SQL Server Management Studio Express.lnk
copyfile,.\Paint\SQL Server Management Studio Express.lnk,%USERPROFILE%\AppData\Roaming\Microsoft\Windows\Start Menu\SQL Server Management Studio Express.lnk
!---Register ftp dll
run,regsvr32.exe /s C:\paint\vbapps\objects\FSFTP.dll,Registering FTP dll.
!---Power management config for windows 7.
!Disable powercfg calls for windows XP
run,powercfg -x -monitor-timeout-ac 30,Set Monitor Timeout.
run,powercfg -x -standby-timeout-ac 0,Set Standby Timeout.
run,powercfg -x -hibernate-timeout-ac 0ll,Set Hibernate Timeout.
!---Registry import - several of the items that we could set through the control panel
regimport,.\PW Support\Windows Registry\PW.reg,Registry Settings
!---Theme setup for windows 7
vbs,.\PW Support\Windows Registry\ChangeTheme.vbs,PAINTWorks desktop theme.
!---Java  - needed for enet switch web pages, some other devices
run,.\PW Support\Java\jRe-7u45-windows-i586.exe /s,Java Virtual Machine.
!---PDF viewer
run,.\PW Support\Adobe Reader X\AdbeRdr1011_en_US.exe,Adobe Reader.
!---SQL Server setup
run,.\PW Support\SQL Server 2005 Express Edition\SQLEXPR32.exe INSTANCENAME=PAINTWORKS,SQL Server
msi,.\PW Support\SQL Server 2005 Management Studio Express\SQLServer2005_SSMSEE.msi /passive /norestart,SQL Server Management Studio Express.
!64bit#msi,.\PW Support\SQL Server 2005 Management Studio Express\SQLServer2005_SSMSEE_x64.msi,SQL Server Management Studio Express.
!msi,.\PW Support\SQL Server 2005 Books online\SqlServer2K5_BOL _Jan2009.msi,SQL Server Books Online.
!---Redistributables needed for autodesk.  They casue a restart, though.  The install program doesn't handle that yet.
!run,.\PW Support\Redist\vcredist_x86.exe,Visual C Runtime.
!run,.\PW Support\Redist\dotNetFx40_Full_x86_x64.exe,dotNet Runtime.
!msi,.\PW Support\AutoDesk\SetupDesignReview2013.msi,Autodesk Design Review.
!---Add anybus back in for paint zones
!run,.\PW Support\AnyBus IPconfig - for SMC EX600\Anybus IPconfig Setup 1_5_1_1\Anybus IPconfig Setup 1_5_1_1.exe,Anybus IP Setup.
!---WinHelp32 not needed for windows XP
msi,.\PW Support\WinHelp32 for Windows 7\Windows6.1-KB917607-x86.msu /silent /norestart,WinHelp32 for Windows 7.
!---XML notepad
msi,.\PW Support\XML Notepad\XmlNotepad.msi /passive /norestart,XML Notepad.
!---print to PDF
run,.\PW Support\Cute PDF Writer v2.8\CuteWriter.exe,PDF Writer.
run,.\PW Support\Cute PDF Writer v2.8\converter.exe,PDF Converter.
!---PCDK
run,.\PW Support\PCDK+_V810_A\setup.exe,Fanuc America PCDK 8.10A
run,.\PW Support\iPendantControls_V8.20_A\setup.exe,iPendant Controls
!---Both ASAB and Mitsubishi seem to have problems when called by PWInstall.  
!---Comment out and add to the procedure manually.
!run,.\PW Support\ASABTCP v2.10.2\Setup.exe,ASABTCP.
!run,.\PW Support\MX Component v3.12N\MX-Component.exe,MELSOFT/MX Components.
!subst,.\PW Support\MX Component v3.12N,MX-Component.exe,MELSOFT/MX Components.
!---VB
run,.\PW Support\Visual Studio 2008 Express\VBExpress\setup.exe,Visual Basic Express
!---autologin script
vbs,c:\paint\profile\pw4usershell.vbs,PAINTWorks AutoLogin
!---If autologin can't change shell, PW can go to the user specific startup folder
copyfile,.\Paint\Launch PAINTWorks.lnk,%USERPROFILE%\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup\Launch PAINTWorks.lnk,PAINTWorks AutoStartup
